@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

*,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}

:root {
  --color-1: #ffcc6c;
  --color-2: #ffffff;
  --color-3: #28a0c9;
  --bg-color: #0f1724;

  /* font-size */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--color-2);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

/* Header */
.header {
  max-width: 1200px;
}

/* Nav styles */
.navbar-brand {
  color: var(--color-2);
  font-size: var(--text-base);
}

.nav-link {
  color: var(--color-2);
  font-size: var(--text-sm);
}

.nav-link:hover,
.navbar-brand:hover {
  color: var(--color-3);
}

/* Hero styles */
.home {
  margin-top: 9em;
}

.home__heading {
  font-size: var(--text-4xl);
  background: #9260d7;
  background: linear-gradient(to right, #9260d7 0%, #28a0c9 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500;
}

.sub__heading {
  font-size: var(--text-sm);
}

.home__wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.img__wrap {
  width: 230px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #28a0c9, #9260d7) border-box;
  border-radius: 50%;
  border: 3px solid transparent;
  box-shadow: -10px 20px 60px -20px rgba(40, 160, 201, 0.7);
  margin-top: 2.2em;
}

.home__img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  filter: grayscale(100%) saturate(0%);
  transition: all 0.5s ease-in-out;
}

.home__img:hover {
  filter: grayscale(0%) saturate(100%);
}

.btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: var(--text-xs);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

/* xs */
@media (max-width: 475px) {
}

/* sm */
/* @media (max-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .img__wrap {
    width: 780px;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to right, #28a0c9, #9260d7) border-box;
    border-radius: 50%;
    border: 3px solid transparent;
    box-shadow: -10px 20px 60px -20px rgba(40, 160, 201, 0.7);
  }
}
